@model IEnumerable<MusicStore.Models.THELOAI>

@{
    ViewBag.Title = "Quản lí thể loại bài hát";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Quản lí thể loại bài hát</h2>

<p>
    @Html.ActionLink("Thêm thể loại bài hát", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Tên thể loại
        </th>
        <th>
            Tình trạng thể loại
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTheLoai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTheLoai })
        </td>
        <td>
            @item.TenTheLoai
        </td>
        <td>
            @item.TINHTRANGTHELOAI.TenTinhTrangTheLoai
        </td>
    </tr>
}

</table>

