@model MusicStore.Models.NGUOIDUNG
@{
    ViewBag.Title = "Đăng nhập";
}
<h2>
    Đăng nhập</h2>

@Html.ValidationSummary(true, "Đăng nhập thất bại. Hãy kiểm tra lỗi và thử lại.")
@using (Html.BeginForm())
{
    <div style="margin:auto; width:80%;">
        <fieldset>  
            <legend><h3>Thông tin tài khoản</h3></legend>
            <div class="editor-label">
                Tên tài khoản:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                Mật khẩu:
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.PassWord)
                @Html.ValidationMessageFor(m => m.PassWord)
            </div>
            <p>
                <input class="DangNhap" type="submit" value=""/>
            </p>
        </fieldset>
    </div>
}
<p style="text-align:center; margin:10px;">
    Bạn hãy đăng ký cho mình một tài khoản @Html.ActionLink("Tại đây", "Register") nếu
    bạn chưa có tài khoản.
</p>
