@{
    ViewBag.Title = "Trang chủ | HPT";
    Layout = "~/Views/Shared/LayoutUser/_Layout.cshtml";
}
<h2>
    Bài hát mới nhất</h2>
<ul>
    @foreach (var bhmn in ViewBag.ListBaiHatMoiNhat)
    {
        <li><a href="@Url.Action("../BaiHat/ListBaiHat", new { id = bhmn.MaBaiHat })">@bhmn.TenBaiHat</a></li>
    }
</ul>
<h2>
    Bài hát yêu thích nhất</h2>
<ul>
    @foreach (var bhyt in ViewBag.ListBaiHatDiemCaoNhat)
    {
        <li><a href="@Url.Action("../BaiHat/ListBaiHat", new { id = bhyt.MaBaiHat })">@bhyt.TenBaiHat</a></li>
    }
</ul>
<h2>
    Bài hát theo mỗi thể loại</h2>
<ul>
    @foreach (var bhttl in ViewBag.ListBaiHatTheoTheLoai)
    {
        <li><a href="@Url.Action("../BaiHat/ListBaiHat", new { id = bhttl.MaBaiHat })">@bhttl.TenBaiHat</a></li>
    }
</ul>
