@model IEnumerable<MusicStore.Models.THAMSO>
@{
    ViewBag.Title = "Quản lí trang web";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Quản lí trang web</h2>
<p>
    @Html.ActionLink("Cập nhật", "Edit/1")
</p>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                Quy định số ngày ban nick 1 tài khoản tối đa: @item.QuyDinhSoNgayBanNickToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng Playlist được tạo tối đa của 1 tài khoản: @item.SoLuongPlaylistDuocTaoToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát nghe nhiều nhất theo từng thể loại được liệt kê tối đa: @item.SoLuongBaiHatNgheNhieuNhatTheoTheLoaiDuocLietKeToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát mới nhất được liệt kê tối đa: @item.SoLuongBaiHatMoiNhatDuocLietKeToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát có điểm trung bình cao nhất được liệt kê tối đa: @item.SoLuongBaiHatCoDiemTrungBinhCaoNhatDuocLietKeToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát cùng ca sĩ được liệt kê tối đa: @item.SoLuongBaiHatCungCaSiDuocLietKeToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát được liệt kê mỗi trang tối đa: @item.SoLuongBaiHatLietKeMoiTrangToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số lượng bài hát được tìm thấy tối đa: @item.SoLuongBaiHatDuocTimThayToiDa
            </td>
        </tr>
        <tr>
            <td>
                Số giấy chờ Download tối thiểu: @item.SoGiayChoDownloadToiThieu
            </td>
        </tr>
        <tr>
            <td>
                Tên logo: @item.TenLogo
            </td>
        </tr>
        <tr>
            <td>
                Lời giới thiệu: @item.GioiThieu
            </td>
        </tr>
        <tr>
            <td>
                Ngôn ngữ: @item.NgonNgu
            </td>
        </tr>
        <tr>
            <td>
                Thông tin liên lạc: @item.ThongTinLienLac
            </td>
        </tr>
        <tr>
            <td>
                Tên file flash: @item.Flash
            </td>
        </tr>
        <tr>
            <td>
                Số lượng thể loại được liệt kê trên menu tối đa: @item.SoLuongTheLoaiDuocLietKetTrenMenu
            </td>
        </tr>
        <tr>
            <td>
            Số lượng ca sĩ được liệt kê trên menu tối đa: @item.SoLuongCaSiLietKeTrenMenu
            </td>
        </tr>
        <tr>
            <td>
                Số lượng Playlist xem nhiều nhất được liệt kê trên menu tối đa: @item.SoLuongPlaylistXemNhieuNhatTrenMenu
            </td>
        </tr>
    }
</table>
