@model MusicStore.Models.NHACSI
@{
    ViewBag.Title = "Thêm nhạc sĩ";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Thêm nhạc sĩ</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Thông tin nhạc sĩ</legend>
        <div class="editor-label">
            Tên nhạc sĩ:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenNhacSi)
            @Html.ValidationMessageFor(model => model.TenNhacSi)
        </div>
        <div class="editor-label">
            Tình trạng nhạc sĩ:
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaTinhTrangNhacSi", new SelectList(ViewBag.TinhTrangNhacSi as System.Collections.IEnumerable, "MaTinhTrangNhacSi", "TenTinhTrangNhacSi", Model.MaTinhTrangNhacSi))
            @Html.ValidationMessageFor(model => model.MaTinhTrangNhacSi)
        </div>
        <p>
            <input type="submit" value="Thêm" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
