@model MusicStore.Models.CHITIETALBUM
@{
    ViewBag.Title = "Thêm bài hát cho Album";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Thêm bài hát vào Album</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            Tên bài hát:
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaBaiHat", new SelectList(ViewBag.BaiHat as System.Collections.IEnumerable, "MaBaiHat", "TenBaiHat", Model.MaBaiHat), "--SELECT ONE--")
            @Html.ValidationMessageFor(model => model.MaBaiHat)
        </div>
        <div class="editor-label">
            Tên Album:
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaAlbum", new SelectList(ViewBag.Album as System.Collections.IEnumerable, "MaAlbum", "TenAlbum", Model.MaAlbum), "--SELECT ONE--")
            @Html.ValidationMessageFor(model => model.MaAlbum)
        </div>
        
        <p>
            <input type="submit" value="Thêm" />
        </p>
    </fieldset>
}
<div class="goback">
    @Html.ActionLink("<<Quay lại", "Index")
</div>
