@model MusicStore.Models.PLAYLIST
@{
    ViewBag.Title = "Cập nhật playlist";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Cập nhật playlist</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Thông tin playlist</legend>
        @Html.HiddenFor(model => model.MaPlaylist)
        @Html.HiddenFor(model => model.TenPlaylist)
        @Html.HiddenFor(model => model.MaNguoiDung)
        <div class="editor-label">
            Tên playlist: <em class="var">@Model.TenPlaylist</em>
        </div>
        <div class="editor-label">
            Người dùng: <em class="var">@Model.NGUOIDUNG.TenNguoiDung</em><br />
            Tài khoản: <em class="var">@Model.NGUOIDUNG.UserName</em>
        </div>
        <div class="editor-label">
            Ngày tạo:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayTao)
            @Html.ValidationMessageFor(model => model.NgayTao)
        </div>
        <div class="editor-label">
            Số lượt nghe:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuotNghe)
            @Html.ValidationMessageFor(model => model.SoLuotNghe)
        </div>
        <div class="editor-label">
            Số lượng bài hát:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongBaiHat)
            @Html.ValidationMessageFor(model => model.SoLuongBaiHat)
        </div>
        <div class="editor-label">
            Số lượt Download:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuotDownload)
            @Html.ValidationMessageFor(model => model.SoLuotDownload)
        </div>
        <p>
            <input type="submit" value="Lưu" />
        </p>
    </fieldset>
}
<div class="goback">
    @Html.ActionLink("<<Quay lại", "Index")
</div>
