@model MusicStore.Models.BAIHAT
@{
    ViewBag.Title = @Model.TenBaiHat;
}
<h2>@Model.TenBaiHat - <a href="@Url.Action("../BaiHat/BaiHatTheoCaSi/", new { id = @Model.CASI.MaCaSi })">@Model.CASI.TenCaSi</a></a></h2>
<div style="margin-bottom: 10px;">
    Sáng tác: @Model.NHACSI.TenNhacSi
    | Thể loại: @Model.THELOAI.TenTheLoai
    | Đăng bởi: Admin
    | Chất lượng: @Model.CHATLUONGAMTHANH.TenChatLuongAmThanh
    | Lượt nghe: @Model.SoLuongNghe
    | Số lượt download: @Model.SoLuotDownload
    | Ngày tiếp nhận: @Model.NgayTiepNhan
    
    </div>
<script type="text/javascript" src="/Plugins/MediaPlayer/swfobject.js"></script>
<script type="text/javascript" src="/Plugins/MediaPlayer/jwplayer.js"></script>
<div style="text-align: center">
    <object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='400' height='275'
        id='single1' name='single1'>
        <param name='movie' value='/Plugins/MediaPlayer/player.swf'>
        <param name='allowfullscreen' value='true'>
        <param name='allowscriptaccess' value='always'>
        <param name='wmode' value='transparent'>
        <param name='flashvars' value='file=/MusicFiles/@Model.LinkDownload&backcolor=000000&frontcolor=FFFFFF&autostart=true&repeat=always&image=/Plugins/MediaPlayer/bg.jpg'>
        <embed
type='application/x-shockwave-flash'
id='single2'
name='single2'
src='/Plugins/MediaPlayer/player.swf'
width='400'
height='275'
bgcolor='undefined'
allowscriptaccess='always'
allowfullscreen='true'
wmode='transparent'
flashvars='file=/MusicFiles/@Model.LinkDownload&backcolor=000000&frontcolor=FFFFFF&autostart=true&repeat=always&image=/Plugins/MediaPlayer/bg.jpg'/>
    </object>
</div>
<div style="text-align:center;">
<a href="/MusicFiles/@Model.LinkDownload"><img src="/Content/StyleUser/Images/download-icon.gif" width="180px" /></a>
</div>
<div><p>Link nhạc: @Html.TextBox("Link nhạc","http://localhost/BaiHat/Detail/" + @Model.MaBaiHat)</p></div>

