@model IEnumerable<MusicStore.Models.BAIHAT>

@{
    ViewBag.Title = "Song Manager";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Songs", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Song Name
        </th>
        <th>
            MaNhacSi
        </th>
        <th>
            Song status:
        </th>
        <th>
            LinkDownload
        </th>
        <th>
            SoLuotDownload
        </th>
        <th>
            SoLuongNghe
        </th>
        <th>
            Singer
        </th>
        <th>
            NgayTiepNhan
        </th>
        <th>
            MaChatLuongAmThanh
        </th>
        <th>
            Genre:
        </th>
        <th>
            MaAlbum
        </th>
        <th>
            Point:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaiHat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaiHat })
        </td>
        <td>
            @item.TenBaiHat
        </td>
        <td>
            @item.NHACSI.TenNhacSi
        </td>
        <td>
            @item.TINHTRANGBAIHAT.TenTinhTrangBaiHat
        </td>
        <td>
            @item.LinkDownload
        </td>
        <td>
            @String.Format("{0:F}", item.SoLuotDownload)
        </td>
        <td>
            @String.Format("{0:F}", item.SoLuongNghe)
        </td>
        <td>
            @item.CASI.TenCaSi
        </td>
        <td>
            @String.Format("{0:g}", item.NgayTiepNhan)
        </td>
        <td>
            @item.CHATLUONGAMTHANH.TenChatLuongAmThanh
        </td>
        <td>
            @item.THELOAI.TenTheLoai
        </td>
        <td>
            @item.MaAlbum
        </td>
        <td>
            @String.Format("{0:F}", item.Diem)
        </td>
    </tr>
}

</table>

