@model IEnumerable<MusicStore.Models.CHITIETPLAYLIST>

@{
    ViewBag.Title = "Chi tiết Playlist";
    Layout = "~/Views/Shared/LayoutGuest/_Layout.cshtml";
}
<h2>
    Quản lí chi tiết Playlist</h2>
    <p>@Html.ActionLink("Thêm bài hát", "ThemBaiHat")</p>
<ul>
    @foreach (var pl in ViewBag.pl)
    {
        <li style="border-bottom: 1px solid #efefef; padding: 3px;"><a href="@Url.Action("../BaiHat/Detail", new { id = pl.MaBaiHat })">@pl.BAIHATs.TenBaiHat</a></li>
    }
</ul>
@*@{
    ViewBag.Title = "Quản lí playlist";
    Layout = "~/Views/Shared/LayoutGuest/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 10);
}
<h2>
    Quản lí chi tiết Playlist</h2>
@grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "paging-number",
    alternatingRowStyle: "webgrid-alternatingRow",
    rowStyle: "webgrid-row",
    columns: grid.Columns(
        grid.Column("MaChiTietPlayList", "Mã chi tiết Playlist"),
        grid.Column("MaBaiHat", "Mã bài hát"),
        grid.Column(
            header: "",
            style: "",
            format: (item) => new HtmlString(Html.ActionLink("Xóa", "Remove", new { id = item.MaChiTietPlaylist }).ToString())
        )
            )
)
@{
    if (!string.IsNullOrWhiteSpace(grid.SortColumn))
    {
    <script type="text/javascript">
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "^" : "v")');
    </script>
    }
}
<p class="sum">
    Tổng số lượng bài hát hiện có trong Playlist này: <em>@Html.Encode(grid.TotalRowCount)</em></p>*@
